# General Config

ENVIRONMENT = "dev"
FLASK_APP = "payroll"
FLASK_DEBUG = True
# python -c 'import secrets; print(secrets.token_hex())'
SECRET_KEY = "43cc30892c9545fbefc7dba196ca68e4fbe17590b2f0e951ef08160967af6b79"